/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Aug 2016, 12:46:39 PM
    Author     : Nehemiah
*/
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}
body { background-image:url("silver-background-4.jpg");}
h1 { font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; text-align: center; color: #222; font-size:55px; letter-spacing:-1px; }
h1 small{ font-size: 24px; display: block; color: #636363; }
h2 small{ font-size: 24px; display: block; color: #636363; text-align: center; text-align: center;}

#wrapper { width:980px; margin:40px auto; }
#content h1 { text-transform:uppercase; padding:20px 0 0 20px; color:#333; text-shadow: #000 0px 0px 2px; }
#content { margin-top:50px; }
#content p { font: 16px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; color:#333333; line-height:18px; margin:15px auto; width:800px;text-align: center; }
#content p a { color:#0088CC; text-decoration:none; }
#content p a:hover { text-decoration:underline; }

#justaNav
{
    margin: 42px;
    list-style: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; letter-spacing:-0.5px; font-size:13px;
    text-shadow: 0 -1px 3px #202020;
    width: 447px; height: 38px;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    -moz-box-shadow: 0px 6px 6px #cecece;
    -webkit-box-shadow: 0px 6px 6px #cecece;
    box-shadow: 0 6px 7px #8b8b8b;
    position: relative;
    left: 23%
    
}
#justaNav li { width: 60px; display:block; float:left; border-right:1px solid #5d5d5d; border-left:1px solid #929292; width:105px; height:34px; border-bottom:1px solid #575757; border-top:1px solid #797979;

   
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f; /* Fallback */
}
#justaNav li a { color:white; text-decoration:none; text-align:center; display:block; line-height:34px; outline:none;}

#justaNav li:first-child {
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
    
    border-left:none;
}

#justaNav li:last-child {
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
    
    border-right:none;
   
    width:124px;
}

